@model HayvanTuru

<form method="post">

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Hayvan Türü Ekle </h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Ad" class="p-0"></label>
            <input asp-for="Ad" class="from-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>



        </div>
        <button type="sumbit" class="btn btn-lg btn-primary" style="width=250px">Hayvan Türü Ekle</button>

        <a asp-controller="HayvanTuru" asp-action="Index" class="btn btn-lg btn-primary" style="width=250px">
            Hayvan Türlerine Geri Dön
        </a>




    </div>


</form>




}




